%header
  %h1 Welcome
  %br
  %br
  %br
  %br
  %h1   (Insert Landing Page Stuff Here)
  %h2   (Insert Landing Page Stuff Here)
  %h3   (Insert Landing Page Stuff Here)
  %h4   (Insert Landing Page Stuff Here)
  %h5   (Insert Landing Page Stuff Here)
  %h6   (Insert Landing Page Stuff Here)
  %p    (Insert Landing Page Stuff Here)
  %code (Insert Landing Page Stuff Here)
  %pre  (Insert Landing Page Stuff Here)
